<%- include("../partials/header") %>
<main class="px-3">
  <% if (cohort) { %>
    <article class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><%- cohort.name %></h1>
        </div>
        <p class="card-text"><%- cohort.members %></p>
        <div class="d-flex">
          <a href="/cohorts/<%- cohort.id %>/edit" class="btn btn-outline-primary" role="button">Edit</a>
          <form action="/cohorts/<%- cohort.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-outline-danger mx-1">Delete</button>
          </form>
        </div>
        <%- include("../partials/assign_teams") %>
      </div>
    </article>
  <% } else { %>
  <div class="no_cohort_message">
    <h4>Sorry, cohort <%- id %> not found.</h4>
  </div>
  <% }; %></main>
<%- include("../partials/footer") %>


